body{
    font-family: 'Oswald', sans-serif;
    background: #f1f1f1;   
	font-size: 22px;
}
.form-group {
    margin-bottom: 0.0rem;
}
.witdh-100{
    width:100px;
}
   
button {
  background-color: #D55702;
  color: #ffffff;
  border: none;
  padding: 10px 44px;
  font-size: 24px;
  cursor: pointer;  
}  
button:hover {
  opacity: 0.8;
}  
#prevBtn {
  background-color: #bbbbbb;
}  
select.form-control, .form-control{
	font-size:22px;
}
/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #D55702;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}  
select option, input[type=checkbox], input[type=radio] {
    cursor: pointer;
}
.step.active {
  opacity: 1;
}  
/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #D55702;
}
  
.dashBoardBox{
	width:100%;
	position:relative;
	margin-bottom:20px;
	min-height:100px;
	background:#fff;
	border-radius:4px;
	margin-top:46px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	padding-top:60px;
	border:#bdbdbd solid 1px;
}
.dashBoardBox .icons{
	position:absolute;
	top:-46px;
	margin:auto;
	left:0;
	right:0;
	width:90px;
	height:90px;
	border-radius:50%;
	background:#f58220;
	text-align:center;
	padding-top:25px;
	padding-bottom:30px;
	box-shadow: 0px -9px 15px -10px rgba(0,0,0,0.5);	
}
p.text{
	font-size:1.5rem;
	color:#555;
	text-transform:uppercase;
	text-align:center;
	letter-spacing:1px;	
}
.icons .fa{	
	font-size:1.95rem;	
}
.dashBoardBox span{
	font-size:1.6rem;
}
.btn-div{
	padding:6px 15px;
	background:#f74730;
	border-radius:4px;
	font-size:13px;
}
a.btn-div{
	text-decoration:none;
}
.fourth {
  border-color: #f1c40f;
  color: #fff;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
}
/* */
.mn-ht{
	min-height:490px;
}
.select-op select.form-control{ 
	text-align: center;
    position: relative;
    transition: background-color 0.5s ease;
    border: solid #D55702 1px;
    border-radius: 0;
	cursor:pointer;
}
.select-op select option{
	cursor:pointer;
} 

.table-bordered thead td, .table-bordered thead th {
	background-color: #4db848;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}
ul.tabs{
    width:100%;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;    
    /* background:rgba(213,87,2,0.85); */
    list-style:none;
    border:#D55702 solid 1px;
    min-height:70px;	
    /* border-right: solid 0px; 	 */
    outline: 0;  
} 
 ul.tabs li{
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      text-align:center;
      position:relative;
      transition: background-color 0.5s ease;
      border-right:solid #D55702 1px;
 }
 ul.tabs li .active ,ul.tabs li:hover{
     background:#D55702;
     color: #fff!important;
 }
 ul.tabs li .active ,ul.tabs li:hover a{
  background:#D55702;
  color: #fff!important;
  cursor:pointer;
}
 ul.tabs li .active::after{	   
     content:'';
     position:absolute;
     top:100%;
     margin:auto;
     left:0;
     right:0;
     width:0;
     height:0; 	    
     border-left:solid transparent 15px;
     border-right:solid transparent 15px;
     border-top:solid #D55702 15px;
 } 
 .tabbed-content .tabContainer::before {
    content: attr(data-title);
  }
  ul.tabs li:last-child{  
     border-right:solid #D55702 0px;
  }
  ul.tabs li a{		
      text-align:center;
      color:#555;		
      line-height:70px;
      text-decoration:none;
      display:block;
	  font-size:24px;
  }   
  .tabContainer{
      width:100%;		
      padding:21px 0px;	
	  display:none;
  }
  .tableShadow{
      border:solid gray 1px; box-shadow: 0 2px 5px 0 rgba(204,0,93, 0.26);
  }
  .grayClr{
      color:#6d6e70!important;
  }

  @media (max-width: 767.98px) { 
      ul.tabs{
          flex-direction: column;
          min-height
      }
      ul.tabs li{
          width: 100%;
       }

  }
   
  .table > tbody > tr > td,   .table > tbody > tr > th {
    vertical-align: middle;

}
  #steps {
    width: 100%;
    padding: 0 20px;
    margin: 30px auto 60px;
    box-sizing: border-box;
    /* End #steps ul*/
  }
  #steps ul,
  #steps li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #steps ul {
    display: table;
    width: 100%;
    /* End #steps li*/
  }
  #steps ul li {
    display: table-cell;
    position: relative;
    /* End .step*/
  }
  #steps ul li:first-child {
    width: 1px;
  }
  #steps ul li:first-child .pstep {
    /* Hide line before first step*/
  }
  #steps ul li:first-child .pstep:before {
    content: none;
  }
  #steps ul li .pstep {
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 50%;
    border-color: #dedede;
    line-height: 37px;
    font-size: 15px;
    text-align: center;
    color: #999999;
    background-color: #dedede;
    float: right;
  }
  #steps ul li .pstep:before {
    height: 4px;
    display: block;
    background-color: #dedede;
    position: absolute;
    content: '';
    right: 40px;
    left: 0px;
    top: 50%;
    cursor: default;
  }
  #steps ul li .pstep:after {
    display: block;
    transform: translate(-42px, 10px);
    color: #999999;
    content: attr(data-desc);
    font-size: 13px;
    line-height: 15px;
    min-width: 120px;
  }
  #steps ul li .pstep.active {
    border-color: #0095db;
    color: white;
    background: #0095db;
  }
  #steps ul li .pstep.active:before {
    background: linear-gradient(to right, #2ecc71 0%, #0095db 100%);
  }
  #steps ul li .pstep.active:after {
    color: #0095db;
    font-weight: 600;
  }
  #steps ul li .pstep.done {
    background-color: #2b663a;
    border-color: #2b663a;
    color: white;
  }
  #steps ul li .pstep.done:after {
    color: #2b663a;
  }
  #steps ul li .pstep.done:before {
    background-color: #2ecc71;
  }
  /* End #steps*/
  .star-rating {
    line-height:32px;
    font-size:1.25em;
  }
  
  .star-rating .fa-star{color: green;}

  .grayBg{
    width: 100%;
    padding: 8px 25px;
    background: #f1f1f1;
  }
  footer{
    width:100%;
    padding: 10px auto;
    background:#f1f1f1; 
  }

  .bdrline{
    width: 100%;
    border: solid #e9e9e9 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .text-orange{
     color: #f58120;
  }
  .bdrLine{
    border: 1px solid #dee2e6;
    padding:3px 8px;
  }
  .pad-21{
    padding: 21px 0;
  }

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 100%;
    padding-top:5px;
}
.rating input {
    position: absolute;
    left: -999999px;
}
.rating label {
    display: inline-block;
    font-size: 0;
}
.rating > label:before {
    position: relative;
    font: 24px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.9rem;
}
/*
.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
    color: green;
    background: green;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.9rem;
}
*/

.rating > label.selected:before,
.rating > label.selected ~ label:before {
    color: green;
    background: green;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.9rem;
}


.leftside{
	width:120px;
	float:left;
}
.rightSide{
	width: calc(100% - 125px);
	float:right;
}
.width-120{
	width:120px;
}
.width-180{
	width:180px;
}
.bg-green{
	background:green;
}
.text-green{
	color:green;
}
.comp-info h4 {
    font-size: 1.5rem;
}